@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  transition: all ease 0.2s;
  list-style-type: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

body {
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: 'Bai Jamjuree', sans-serif;
  background-color: white;
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

:root {
  --purple: hsla(233, 100%, 69%, 1);
  --green: hsla(171, 66%, 44%, 1);
  --gray: hsla(210, 10%, 33%, 1);
  --lt-gray: hsla(201, 11%, 66%, 1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
}

.logo {
  max-width: 125px;
  padding-bottom: 56px;
}

.logo:hover {
  opacity: 70%;
  transition: ease-out 0.3s;
}

h1 {
  font-weight: 600;
  font-size: 46px;
  line-height: 1.4;
  letter-spacing: -0.75px;
  color: var(--gray);
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.586957px;
  color: var(--gray);
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.391304px;
  color: var(--gray);
}

.body {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.135px;
  margin: 0 auto;
  max-width: 640px;
  color: var(--lt-gray);
}


.body-medium {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.12px;
  margin: 0 auto;
  max-width: 640px;
  color: var(--lt-gray);
}

.body-small {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.12px;
  margin: 0 auto;
  max-width: 350px;
  color: var(--lt-gray);
}


.btn {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: white;
  padding: 14px 40px;
  border-radius: 50px;
  margin: 0 auto;
  max-width: 640px;
  transition: ease-in 0.5s;
}

.btn-green {
  background-color: var(--green);
  box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.btn-blue {
  background-color: var(--purple);
  box-shadow: 0px 10px 20px rgba(120, 162, 238, 0.503), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.btn:hover {
  transition: ease-out 0.3s;
  opacity: 70%;
}

.pb-10 {
  padding-bottom: 10px;
}


.pb-20 {
  padding-bottom: 20px;
}

.pb-40 {
  padding-bottom: 48px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-110 {
  padding-bottom: 110px;
}


.pb-140 {
  padding-bottom: 140px;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 110px;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 640px;
}

.grid-2x {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.specs {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 50px;
  align-items: flex-start;
}

.download {
  display: flex;
  gap: 48px;
}


.computer {
  transform: translateX(-150px) scale(1.3);
}



.overflow {
  overflow: visible;
}